.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    color: aliceblue;
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0 6px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0 6px;
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-items {
      display: none;
    }
  }
  
  .nav-link {
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: purple;
  }
  
  .button-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6px;
  }
  
  @media screen and (max-width: 768px) {
    .button-container {
      display: none;
    }
  }
  
  .github-button {
    border: 1px solid purple;
    color: rgb(199, 53, 199);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.6s ease-in-out;
    text-decoration: none;
  }
  
  .github-button:hover {
    background: purple;
    color: #fff;
  }
  
  .mobile-icon {
    height: 100%;
    display: flex;
    align-items: center;
    color: #333;
    display: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .mobile-icon {
      display: block;
    }
  }
  
  .mobile-menu {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    padding: 12px 40px 24px 40px;
    list-style: none;
    color: aliceblue;
    position: fixed;
    top: 80px;
    right: -100%;
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 0 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1000;
    overflow-y: auto;
    height: calc(100vh - 80px);
  }
  
  .mobile-menu.open {
    right: 0;
    opacity: 1;
    z-index: 1000;
  }