.skills-container {
    text-align: center;
    padding: 40px;
    color: #fff;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
  }
  
  .skills-column {
    padding: 20px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
  
  .skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-item span {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .skill-stars {
    color: #f1c40f;
    font-size: 16px;
  }
  

  @media screen and (max-width: 768px) {
    .skills-grid {
      grid-template-columns: 1fr;
    }
  }